<div class="col-xs-12 col-md-10 blur">

  <button class="btn btn-primary pull-right">New Agent</button>
  <h2 class="m-b-md">Agents</h2>

  <table class="table table-hover m-b-0">
    <tr class="">
      <th class="p-y-md" >Name</th>
      <th class="">Bill To</th>
      <th class="">Payer</th>
    </tr>
    <tr>
      <td><a href="/agent.html">Farm Source</a></td>
      <td class="" >BILL-000-001</td>
      <td class="" >PAYR-000-001</td>
    </tr>
    <tr>
      <td><a href="/agent.html">Farmlands</a></td>
      <td class="" >BILL-000-002</td>
      <td class="" >PAYR-000-002</td>
    </tr>
    <tr>
      <td><a href="/agent.html">PGG Wrightson</a></td>
      <td class="" >BILL-000-003</td>
      <td class="" >PAYR-000-003</td>
    </tr>
    <tr>
      <td><a href="/agent.html">Kays Agency</a></td>
      <td class="" >BILL-000-004</td>
      <td class="" >PAYR-000-004</td>
    </tr>
  </table>

</div>

{% include supplier.html %}
