<div class="header-wrapper">

  <header class="container">

    <div class="row ">

      <div class="col-xs-6">
        <h1 class="title">
          <span class="text-muted">AIMS</span>&#8239;<span class="text-muted"><small>by</small></span>&#8239;{% include logo.html %}
        </h1>

      </div>

      <div class="col-xs-6 text-right">
        <h1 class="supplier">
          <span class="text-muted"><small>for</small></span>
          <a href="" data-toggle="modal" data-target="#supplier-switcher">Syngenta</a>
        </h1>
      </div>


    </div>

    <hr>

  </header>

</div>
