<header>

<div class="collapse" id="exCollapsingNavbar">
  <div class="bg-inverse p-a">
    <div class="container">
      <h4>TODO supplier picker</h4>
      <span class="text-muted">Supplier picker goes here.</span>
    </div>
  </div>
</div>
<nav class="navbar navbar-light">

  <div class="container">
    <div class="row m-t">

      <div class="col-xs-12 col-sm-6">

        <h1 class="title">
          <span class="text-muted">AIMS</span>&#8239;<span class="text-muted"><small>by</small></span>&#8239;
          {% include logo.html %}
        </h1>

      </div>

      <div class="col-xs-12 col-sm-6 text-right">
        <h1 class="supplier text-primary">
          <span data-toggle="collapse" data-target="#exCollapsingNavbar">Syngenta</span>
        </h1>
      </div>

    </div>
    <hr>
  </div>


</nav>


</header>
