<div class="main-wrapper col-xs-10">

  <div class="row">
    <div class="col-xs-1">
      <h3>
        <span class="text-muted">Store</span>
      </h3>
    </div>
    <div class="col-xs-4">
      <select id="store" class="form-control">
        <option>Bringelly</option>
        <option>Emerald</option>
        <option>Flemington</option>
        <option>Kadina</option>
        <option>Moura</option>
        <option>Saddleworth</option>
        <option>Theodore</option>
      </select>
    </div>

    <div class="col-xs-7">
      <h3 class="date text-right">
        <span class="text-muted">September 2015</span>
      </h3>
    </div>
  </div>


  <table class="table blur">
    <tr>
      <th class="" colspan="2">Description</th>
      <th class="">In Transit</th>
      <th class="">Opening Stock</th>
      <th class="">Transfer In</th>
      <th class="">Transfer Out</th>
      <th class="" colspan="2">Sales</th>
      <th class="">Current Stock</th>
      <th class="">Sales Date</th>
      <th class="">Last Modified</th>
    </tr>
    <tr>
      <td><input type="checkbox"></td>
      <td>Product 1 1000L</td>
      <td class=" " >0</td>
      <td class=" " >0</td>
      <td class=" " >0</td>
      <td class=" " >0</td>
      <td class=""><input type="text" size="1" class="form-control"></td>
      <td class=""><a href="#">+</a></td>
      <td class="">0</td>
      <td class="">31 Aug 2015</td>
      <td class="">31 Aug 2015</td>
    </tr>
    <tr>
      <td><input type="checkbox"></td>
      <td>Product 2 100L</td>
      <td class=" " >0</td>
      <td class=" " >0</td>
      <td class=" " >0</td>
      <td class=" " >0</td>
      <td class=""><input type="text" size="1" class="form-control"></td>
      <td class=""><a href="#">+</a></td>
      <td class="">0</td>
      <td class=""></td>
      <td class="">31 Aug 2015</td>
    </tr>
    <tr>
      <td><input type="checkbox"></td>
      <td>Product 3 12L</td>
      <td class=" " >0</td>
      <td class=" " >0</td>
      <td class=" " >0</td>
      <td class=" " >0</td>
      <td class=""><input type="text" size="1" class="form-control"></td>
      <td class=""><a href="#">+</a></td>
      <td class="">0</td>
      <td class=""></td>
      <td class="">31 Aug 2015</td>
    </tr>
    <tr>
      <td><input type="checkbox"></td>
      <td>Product 4 20L</td>
      <td class=" " >0</td>
      <td class=" " >0</td>
      <td class=" " >0</td>
      <td class=" " >0</td>
      <td class=""><input type="text" size="1" class="form-control"></td>
      <td class=""><a href="#">+</a></td>
      <td class="">0</td>
      <td class=""></td>
      <td class=""></td>
    </tr>
    <tr class="">
      <td><input type="checkbox"></td>
      <td>Product 5 8L</td>
      <td class=" " >0</td>
      <td class=" " >0</td>
      <td class=" " >0</td>
      <td class=" " >0</td>
      <td class=""><input type="text" size="1" class="form-control"></td>
      <td class=""><a href="#">+</a></td>
      <td class="">0</td>
      <td class=""></td>
      <td class="">31 Aug 2015</td>
    </tr>
  </table>
</div>

<div class="row buttons" >
  <div class="col-xs-2 col-xs-offset-8">
    <input type="text" class="form-control blur"
    placeholder="PO Number&hellip;">
  </div>
  <div class="col-xs-2">
    <button class="btn btn-primary btn-block blur">Save</button>
  </div>
</div>

{% include supplier.html %}
