<nav>

  <div class="col-xs-12 col-md-2 p-b-md">

    <ul class="nav nav-bordered nav-stacked">
      <li class="nav-item active"><a class="nav-link " href="#">Sales</a></li>
      <li class="nav-item "><a class="nav-link" href="#">Movements</a></li>
      <li class="nav-item "><a class="nav-link" href="#">Stock Check</a></li>
      <li class="nav-item "><a class="nav-link" href="#">Transactions</a></li>
      <li class="nav-item "><a class="nav-link" href="#">Forecasting</a></li>
      <li class="nav-item "><a class="nav-link" href="#">Reports</a></li>
    </ul>

    <hr class="m-t-md m-b-0 hidden-md-up">

  </div>

</nav>