<div class="page col-xs-10 blur">

  <div class="row m-b">
    <div class="col-xs-6">
      <h3 class="text-muted">Store</h3>
      <select id="store" class="form-control">
        <option>Bringelly</option>
        <option>Emerald</option>
        <option>Flemington</option>
        <option>Kadina</option>
        <option>Moura</option>
        <option>Saddleworth</option>
        <option>Theodore</option>
      </select>
    </div>

    <div class="col-xs-6">
      <h3 class="date text-right">
        <span class="text-muted">September 2015</span>
      </h3>
    </div>
  </div>


  <table class="table table-responsive p-b-0">
    <tr class="">
      <th class="p-y-md" colspan="2">Description</th>
      <th class="">In Transit</th>
      <th class="">Opening Stock</th>
      <th class="">Transfer In</th>
      <th class="">Transfer Out</th>
      <th class="">Sales</th>
      <th class="">Current Stock</th>
      <!-- <th class="">Sales Date</th> -->
      <th class="">Last Modified</th>
    </tr>
    <tr>
      <td><input type="checkbox"></td>
      <td>Product 1 1000L</td>
      <td class=" " >-</td>
      <td class=" " >0</td>
      <td class=" " >0</td>
      <td class=" " >0</td>
      <td class=""><a href="#">2</a></td>
      <td class="">0</td>
      <!-- <td class="">31 Aug 2015</td> -->
      <td class="">31 Aug 2015</td>
    </tr>
    <tr>
      <td><input type="checkbox"></td>
      <td>Product 2 100L</td>
      <td class=" " >0</td>
      <td class=" " >0</td>
      <td class=" " >0</td>
      <td class=" " >0</td>
      <td class=""><a href="#">-</a></td>
      <td class="">0</td>
      <!-- <td class=""></td> -->
      <td class="">31 Aug 2015</td>
    </tr>
    <tr>
      <td><input type="checkbox"></td>
      <td>Product 3 12L</td>
      <td class=" " >0</td>
      <td class=" " >0</td>
      <td class=" " >0</td>
      <td class=" " >0</td>
      <td class=""><a href="#">2</a></td>
      <td class="">0</td>
      <!-- <td class=""></td> -->
      <td class="">31 Aug 2015</td>
    </tr>
    <tr>
      <td><input type="checkbox"></td>
      <td>Product 4 20L</td>
      <td class=" " >0</td>
      <td class=" " >0</td>
      <td class=" " >0</td>
      <td class=" " >0</td>
      <td class=""><a href="#">2</a></td>
      <td class="">0</td>
      <!-- <td class=""></td> -->
      <td class=""></td>
    </tr>
    <tr class="">
      <td><input type="checkbox"></td>
      <td>Product 5 8L</td>
      <td class=" " >0</td>
      <td class=" " >0</td>
      <td class=" " >0</td>
      <td class=" " >0</td>
      <td class=""><a href="#">2</a></td>
      <td class="">0</td>
      <!-- <td class=""></td> -->
      <td class="">31 Aug 2015</td>
    </tr>
  </table>

  <hr>

  <div class="row buttons p-y-md" >
    <div class="col-xs-4 col-xs-offset-4 col-lg-3 col-lg-offset-6 col-xl-2 col-xl-offset-8">
      <input type="text" class="form-control "
      placeholder="PO Number&hellip;">
    </div>
    <div class="col-xs-4 col-lg-3 col-xl-2">
      <button class="btn btn-primary btn-block">Save</button>

    </div>
  </div>

</div>


{% include supplier.html %}
