<div class="row hidden-md-up">
  <div class="col-xs-12">
    <ul class="nav nav-pills">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle active " data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Inventory</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Sales</a>
          <a class="dropdown-item" href="#">Movements</a>
          <a class="dropdown-item" href="#">Stock Check</a>
          <a class="dropdown-item" href="#">Stock Status</a>
          <a class="dropdown-item" href="#">Reconciliation</a>
          <a class="dropdown-item" href="#">Forecasting</a>
          <a class="dropdown-item" href="#">Transactions</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Config</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Agents</a>
          <a class="dropdown-item" href="#">Hubs</a>
          <a class="dropdown-item" href="#">Stores</a>
          <a class="dropdown-item" href="#">Markets</a>
          <a class="dropdown-item" href="#">Seasons</a>
          <a class="dropdown-item" href="#">Emails</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Other</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Reports</a>
          <a class="dropdown-item" href="#">Uploads</a>
        </div>
      </li>
    </ul>
    <br>
    <br>
    <br>
  </div>
</div>
