@import "bootstrap/variables";

.blur {
  -webkit-filter: blur(3px);
}

.strong {
  font-weight: 500;
}

table th,
table td {
  vertical-align: middle !important;
}

footer {
  background-image: linear-gradient(to right, $f4f, $brand-primary);

  a, a:hover {
    color: #eee;
  }

  div.text-left {
    a {
      padding-right: 48px;
    }
  }
}

nav {
  .c-select {
    font-size: 2rem;
    font-weight: 500;
    width: 100%;
  }
}

@include media-breakpoint-down(sm) {
  nav {
    .c-select {
      margin-bottom: 1rem;
    }
  }
}

nav {
  hr {
    margin-left: 28px;
  }
}