@import "bootstrap/variables";

body {
  background-color: #eee;
}

.container {
  // TODO md doesn't work here?
  min-width: 45em !important;
}

.main-wrapper {
  background-color: #fff;
}

.header-wrapper {
  background-color: #fff;
}

.blur {
  -webkit-filter: blur(1.5px);
}

table th,
table td {
  vertical-align: middle !important;
}

.strong {
  font-weight: 500;
}

.nav-stacked {
  margin-left: -28px;
}