@import "bootstrap/variables";

.container {
  min-width: 45em !important; // TODO md doesn't work here?
}

.footer-wrapper {
  background-image: -webkit-linear-gradient(left, rgba(104, 162, 46, 1), rgba(86, 180, 211, 1));
}

.blur {
  -webkit-filter: blur(1.5px);
}

table th,
table td {
  vertical-align: middle !important;
}

.strong {
  font-weight: 500;
}

.nav-stacked {
  margin-left: -28px;
}

footer {
  a, a:hover {
    color: #eee;
  }
}