@import "bootstrap/variables";

// Underline nav
//
// Extends `.nav` like other Bootstrap navs.

.nav-bordered {
  > li {
    float: left;

    // Links rendered as pills
    > a {
      display: inline-block;
      padding: ($spacer / 2) 0;
      font-weight: normal;
      color: $brand-primary;
      border-bottom-color: $brand-primary;

      &:hover,
      &:focus {
        color: $brand-primary;
        background-color: transparent;
      }
    }

    + li {
      margin-left: 24px;
    }

    // Active state
    &.active > a {
      &,
      &:hover,
      &:focus {
        font-weight: 500;
        color: $gray-dark;
        border-bottom-color: $gray-dark;
      }
    }
  }

  &.nav-justified {
    > li + li {
      margin-left: 0;
    }
    > li > a {
      margin-bottom: 0;
    }
  }

  &.nav-stacked {
    > li {
      float: none;
      margin-left: 0;

      + li {
        margin-top: 0;
      }

      &.active > a {
        &,
        &:hover,
        &:focus {
          border-left-color: $gray-dark;
        }
      }
    }

    > li > a {
      display: block;
      padding: 5px 10px 5px ($spacer-x * 1.5);
      border-bottom: 0;
      border-left: 4px solid transparent;

      &:hover,
      &:focus {
        border-left: 4px solid;
      }
    }

    .nav-header {
      padding-left: (($spacer-x * 1.75));
    }

    .nav-divider {
//      .nav-divider(rgba(255,255,255,.2));
      margin-left: (($spacer-x * 1.5));
      margin-top: 20px;
      margin-bottom: 25px;
    }
  }
}
