@import "bootstrap/variables";
@import "bootstrap/mixins";

$f4f: rgba(104, 162, 46, 1);

$hr-border-color: $gray-lighter;

$body-color: $gray;

small,
.small {
  font-size: 90% !important;
}

.list-group-item {
  padding: .375rem 0.75rem !important;
}



// example
@include media-breakpoint-down(md) {
  body {
  }
}

