@import "bootstrap/variables";
@import "bootstrap/mixins";

$f4f: rgba(104, 162, 46, 1);

$hr-border-color: $gray-lighter;
$body-color: $gray;

// example
@include media-breakpoint-down(md) {
  body {
//    background-color: red !important;
  }
}